<div class="bg-top navbar-light">
    <div class="container">
        <div class="row no-gutters d-flex align-items-center align-items-stretch">
            <div class="col-md-4 d-flex align-items-center py-4">
                <a class="navbar-brand" routerLink="">O.N.E</a>
            </div>
            <div class="col-lg-8 d-block">
                <div class="row d-flex">
                    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                        <div class="icon d-flex justify-content-center align-items-center"><span
                                class="icon-paper-plane"></span></div>
                        <div class="text">
                            <span>Email</span>
                            <span>contact@one.org.tn</span>
                        </div>
                    </div>
                    <div class="col-md d-flex topper align-items-center align-items-stretch py-md-4">
                        <div class="icon d-flex justify-content-center align-items-center"><span
                                class="icon-phone2"></span></div>
                        <div class="text">
                            <span>Téléphone</span>
                            <span> + 216 28 608 238</span>
                        </div>
                    </div>
                    <div class="col-md topper d-flex align-items-center justify-content-end">
                        <p class="mb-0 d-block">
                            <a routerLink="/login" class="btn py-2 px-3 btn-primary">
                                <span>Se connecter</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span>
        </button>
        <form action="#" class="searchform order-lg-last">
            <div class="form-group d-flex">
                <input type="text" class="form-control pl-3" placeholder="Rechercher">
                <button type="submit" placeholder="" class="form-control search"><span
                        class="ion-ios-search"></span></button>
            </div>
        </form>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a href="index.html" class="nav-link pl-0">Accueil</a></li>
                <li class="nav-item"><a routerLink="/about" class="nav-link">A propos</a></li>
                <li class="nav-item"><a routerLink="/actualite" class="nav-link">Actualité</a></li>
                <li class="nav-item"><a routerLink="/services" class="nav-link">Services</a></li>
                <li class="nav-item"><a routerLink="/evenements" class="nav-link">Évènements</a></li>
                <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->

