<app-header></app-header>
<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-2 bread">Évenements</h1>
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="/">Accueil <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>évenements <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4" *ngFor="let item of dataArray  ; index as i">
                <div class="blog-entry">
                    <a  class="block-20 d-flex align-items-end"
                        style="background-image: url({{item.image}});">
                        <div class="meta-date text-center p-2">
                            <span class="day">{{ item.date | date:'d'}}</span>
                            <span class="mos">{{ item.date | date:'MMM'}}</span>
                            <span class="yr">{{ item.date | date:'Y'}}</span>
                            
                        </div>
                    </a>
                    <div class="text bg-white p-4">
                        <h3 class="heading"><a href="#">{{item.name}}</a></h3>
                        <p [innerHTML]="item.description">{{item.description}}</p>
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a routerLink="/event/{{item._id}}" class="btn btn-primary">Plus Détails<span
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                            <p class="ml-auto mb-0">
                                <a  class="mr-2">{{item.city}}</a>
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
</div>
<div class="row mt-5">
  <div class="col text-center">
    <div class="block-27">
      <ul>
        <li><a href="#">&lt;</a></li>
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&gt;</a></li>
      </ul>
    </div>
  </div>
</div>
    </div>
</section>
<app-footer></app-footer>