<app-header></app-header>
<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-2 bread">Services</h1>
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="/">Accueil <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Services <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 order-md-last wrap-about align-items-stretch">
                <div class="wrap-about-border">
                    <div class="img" style="background-image: url(assets/img/O.N.E.png);"></div>
                    <!-- <img src="assets/images/about.jpg" class="img"  > -->

                    <div class="text">
                        <h3> Lisez notre histoire de réussite pour vous inspirer </h3>
                        <p>L’Organisation Nationale des Entrepreneurs (ONE) est née suite à la crise qui a frappé la
                            Tunisie suite
                            à la pandémie COVID19 aux mois de Mars et Avril 2020.</p>
                        <p>Cette idée est l’incarnation d’un rêve de réunir l’ensemble des entreprises et des personnes
                            marginalisés depuis longtemps.
                            Ce groupe d’entrepreneurs n’ont jamais eu une organisation pour leur prendre en charge et
                            les défendre en cas de nécessité.
                        </p>
                        <p><a href="#" class="btn btn-primary py-3 px-4">Contactez nous</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-7 wrap-about pr-md-4">
                <h2 class="mb-4">Les Principes de l’Organisation</h2>
                <p>L’organisation représente les propriétaires des petites et moyennes entreprises (PME, TPE ), les
                    entrepreneurs et les
                    artisans, ceux qui sont actifs dans les professions libérales ainsi que toutes les structures
                    professionnelles
                    de tous les secteurs économiques : Agricole, Industriel, Commercial, Artisanat et les services.</p>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="services active text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-collaboration"></span></div>
                            <div class="text media-body">
                                <h3>Engagement</h3>
                                <p>Engage auprès de toutes ses entreprises adhérentes quelles que soient leurtailleet
                                    leur qualité d’activité.</p>
                            </div>
                        </div>
                        <div class="services text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-analysis"></span></div>
                            <div class="text media-body">
                                <h3>Transparence</h3>
                                <p> Transparence dans les relations entre ses membres ou même avec les partenaires.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-search-engine"></span></div>
                            <div class="text media-body">
                                <h3>Equité</h3>
                                <p> Joue un rôle organisateur et régulateur pour une économie juste et un
                                    développement durable.</p>
                            </div>
                        </div>
                        <div class="services text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-handshake"></span></div>
                            <div class="text media-body">
                                <h3>Démocratie</h3>
                                <p> Toutes les structures de l’organisation seront basées sur une véritable démocratie.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section">
                <h2 class="mb-4">Nos Meilleurs Services</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the
                    necessary regelialia. It is a paradisematic country</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-analysis"></span></div>
                    <div class="text media-body">
                        <h3> Valoriser Le Travail </h3>
                        <p>Encourager l’entrepreneuriat pour que ces valeurs soient un des piliers de la société tunisienne.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-business"></span></div>
                    <div class="text media-body">
                        <h3>Travailler Au Rapprochement Des Régions </h3>
                        <p> Encourageant chaque région à mettre en évidence ses spécificités et son potentiel pour attirer les investisseurs.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-insurance"></span></div>
                    <div class="text media-body">
                        <h3>Encourager une économie </h3>
                        <p>économie caractérisée par la création de valeur ajouté et L’innovation en renforçant le lien entre l’enseignement professionnel.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-money"></span></div>
                    <div class="text media-body">
                        <h3> jouer un rôle clef, à l’échelle nationale et internationale</h3>
                        <p> A la mise en œuvre des objectifs durables afin de garantir la dignité et la prospérité des entrepreneurs.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center noborder-bottom">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-rating"></span></div>
                    <div class="text media-body">
                        <h3>Audit &amp; Evaluation</h3>
                        <p>Transformer le management en un facteur de compétitivité  dans l’économie tunisienne  en renouvelant les services administratifs.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center noborder-bottom">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-search-engine"></span></div>
                    <div class="text media-body">
                        <h3> Trouver une stratégie dynamique</h3>
                        <p>Pour diversifier les marchés, valoriser la position de la Tunisie et faire en sorte que l’organisme économique trouve dans toutes les régions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>