<app-header></app-header>
<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image:url(assets/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-start"
                data-scrollax-parent="true">
                <div class="col-md-7">
                    <span class="subheading">Bienvenue à O.N.E</span>
                    <h1 class="mb-4">Organisation Nationale des Entrepreneurs</h1>
                    <p><a routerLink="/services" class="btn btn-primary px-4 py-3 mt-3">Notre Services</a></p>
                </div>
            </div>
        </div>
    </div>


</section>
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-5 order-md-last wrap-about align-items-stretch">
                <div class="wrap-about-border">
                    <div class="img" style="background-image: url(assets/img/O.N.E.png);"></div>
                    <!-- <img src="assets/images/about.jpg" class="img"  > -->

                    <div class="text">
                        <h3> Lisez notre histoire de réussite pour vous inspirer </h3>
                        <p>L’Organisation Nationale des Entrepreneurs (ONE) est née suite à la crise qui a frappé la
                            Tunisie suite
                            à la pandémie COVID19 aux mois de Mars et Avril 2020.</p>
                        <p>Cette idée est l’incarnation d’un rêve de réunir l’ensemble des entreprises et des personnes
                            marginalisés depuis longtemps.
                            Ce groupe d’entrepreneurs n’ont jamais eu une organisation pour leur prendre en charge et
                            les défendre en cas de nécessité.
                        </p>
                        <p><a href="#" class="btn btn-primary py-3 px-4">Contactez nous</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-7 wrap-about pr-md-4">
                <h2 class="mb-4">Les Principes de l’Organisation</h2>
                <p>L’organisation représente les propriétaires des petites et moyennes entreprises (PME, TPE ), les
                    entrepreneurs et les
                    artisans, ceux qui sont actifs dans les professions libérales ainsi que toutes les structures
                    professionnelles
                    de tous les secteurs économiques : Agricole, Industriel, Commercial, Artisanat et les services.</p>
                <div class="row mt-5">
                    <div class="col-lg-6">
                        <div class="services active text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-collaboration"></span></div>
                            <div class="text media-body">
                                <h3>Engagement</h3>
                                <p>Engage auprès de toutes ses entreprises adhérentes quelles que soient leurtailleet
                                    leur qualité d’activité.</p>
                            </div>
                        </div>
                        <div class="services text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-analysis"></span></div>
                            <div class="text media-body">
                                <h3>Transparence</h3>
                                <p> Transparence dans les relations entre ses membres ou même avec les partenaires.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-search-engine"></span></div>
                            <div class="text media-body">
                                <h3>Equité</h3>
                                <p> Joue un rôle organisateur et régulateur pour une économie juste et un
                                    développement durable.</p>
                            </div>
                        </div>
                        <div class="services text-center">
                            <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                                    class="flaticon-handshake"></span></div>
                            <div class="text media-body">
                                <h3>Démocratie</h3>
                                <p> Toutes les structures de l’organisation seront basées sur une véritable démocratie.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-intro ftco-no-pb img" style="background-image: url(assets/images/bg_3.jpg);">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-10 text-center heading-section heading-section-white">
                <h2 class="mb-0">Vous obtenez toujours les meilleurs conseils</h2>
            </div>
        </div>
    </div>
</section>


<section class="ftco-counter" id="section-counter">
    <div class="container">
        <div class="row d-md-flex align-items-center justify-content-center">
            <div class="wrapper">
                <div class="row d-md-flex align-items-center">
              <div class="col-md d-flex justify-content-center counter-wrap ">
                <div class="block-18">
                    <div class="icon"><span class="flaticon-doctor"></span></div>
                 
                </div>
              </div>
              <div class="col-md d-flex justify-content-center counter-wrap ">
                <div class="block-18">
                    <div class="icon"><span class="flaticon-doctor"></span></div>
                  <div class="text">
                    <strong class="number" data-number="150">150</strong>
                    <span>Client satisfait</span>
                  </div>
                </div>
              </div>
              <div class="col-md d-flex justify-content-center counter-wrap ">
                <div class="block-18">
                    <div class="icon"><span class="flaticon-doctor"></span></div>
                  <div class="text">
                    <strong class="number" data-number="5">5</strong>
                    <span>RÉCOMPENSES REÇUES</span>
                  </div>
                </div>
              </div>
              <div class="col-md d-flex justify-content-center counter-wrap ">
                <div class="block-18">
                    <div class="icon"><span class="flaticon-doctor"></span></div>
                  <div class="text">
                    <strong class="number" data-number="2">2</strong>
                    <span>ANNÉES D'EXPÉRIENCE</span>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section">
                <h2 class="mb-4">Nos Meilleurs Services</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the
                    necessary regelialia. It is a paradisematic country</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left text-center">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-analysis"></span></div>
                    <div class="text media-body">
                        <h3> Valoriser Le Travail </h3>
                        <p>Encourager l’entrepreneuriat pour que ces valeurs soient un des piliers de la société tunisienne.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-business"></span></div>
                    <div class="text media-body">
                        <h3>Travailler Au Rapprochement Des Régions </h3>
                        <p> Encourageant chaque région à mettre en évidence ses spécificités et son potentiel pour attirer les investisseurs.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-insurance"></span></div>
                    <div class="text media-body">
                        <h3>Encourager une économie </h3>
                        <p>économie caractérisée par la création de valeur ajouté et L’innovation en renforçant le lien entre l’enseignement professionnel.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 noborder-left noborder-bottom text-center">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-money"></span></div>
                    <div class="text media-body">
                        <h3> jouer un rôle clef, à l’échelle nationale et internationale</h3>
                        <p> A la mise en œuvre des objectifs durables afin de garantir la dignité et la prospérité des entrepreneurs.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center noborder-bottom">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-rating"></span></div>
                    <div class="text media-body">
                        <h3>Audit &amp; Evaluation</h3>
                        <p>Transformer le management en un facteur de compétitivité  dans l’économie tunisienne  en renouvelant les services administratifs.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 d-flex">
                <div class="services-2 text-center noborder-bottom">
                    <div class="icon mt-2 d-flex justify-content-center align-items-center"><span
                            class="flaticon-search-engine"></span></div>
                    <div class="text media-body">
                        <h3> Trouver une stratégie dynamique</h3>
                        <p>Pour diversifier les marchés, valoriser la position de la Tunisie et faire en sorte que l’organisme économique trouve dans toutes les régions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-intro ftco-no-pb img" style="background-image: url(assets/images/bg_1.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-8 d-flex align-items-center heading-section heading-section-white">
                <h2 class="mb-3 mb-md-0">Vous obtenez toujours les meilleurs conseils</h2>
            </div>
         
        </div>
    </div>
</section>


<section class="ftco-section ftco-no-pb">
    <div class="container-fluid px-0">
        <div class="row no-gutters justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section">
                <h2 class="mb-4">Nos publications récentes</h2>
               
            </div>
        </div>
        <div class="row no-gutters">

            <div class="col-md-3" *ngFor="let item of dataArray1  ; index as i">
                <div class="project img d-flex justify-content-center align-items-center" *ngIf="i<8"
                    style="background-image: url({{item.image}});">
                    <div class="overlay"></div>
                    <a href="#" class="btn-site d-flex align-items-center justify-content-center"><span
                            class="icon-subdirectory_arrow_right"></span></a>
                    <div class="text text-center p-4">
                        <h3>

                            <a routerLink="/single/{{item._id}}">{{item.title}}</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb"
    style="background-image: url('assets/images/bg_5.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 py-5 px-md-5">
                <div class="py-md-5">
                    <div class="heading-section heading-section-white mb-5">
                        <h2 class="mb-4">Demander une question</h2>
                        <p>Si vous avez des questions n'hésitez pas à nous Contactez</p>
                    </div>
                    <form [formGroup]="myForm" #f="ngForm" (ngSubmit)="add(f)" class="appointment-form">
                        <div class="d-md-flex">
                            <div class="form-group">
                                <input type="text" class="form-control" name="senderName" formControlName="senderName"
                                    placeholder="Votre Nom Complet">
                            </div>
                            <div class="form-group ml-md-4">
                                <input type="text" class="form-control" name="email" formControlName="email"
                                    placeholder="Votre Email">
                            </div>
                        </div>
                        <div>
                            <input type="number" class="form-control" name="telephone" formControlName="telephone"
                                placeholder="Vote Numéro De Téléphone">
                        </div>


                        <div class="d-md-flex">
                            <div class="form-group">
                                <textarea name="" id="" cols="30" rows="7" class="form-control" name="message"
                                    formControlName="message" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group ml-md-4">
                                <input type="submit" value="Envoyer Message"  class="btn btn-white py-3 px-4">
                            </div>
                        </div>

                    </form>
                    <div *ngIf="msgSucces" class="alert alert-success" role="alert"> {{msgSucces}}</div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section">
                <h2 class="mb-4"><span>Evénements</span> Récents</h2>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4" *ngFor="let item of dataArray3  ; index as i">
                <div class="blog-entry" *ngIf="i<3">
                    <a  class="block-20 d-flex align-items-end"
                        style="background-image: url({{item.image}});">
                        <div class="meta-date text-center p-2">
                            <span class="day">{{ item.date | date:'d'}}</span>
                            <span class="mos">{{ item.date | date:'MMM'}}</span>
                            <span class="yr">{{ item.date | date:'Y'}}</span>
                            
                        </div>
                    </a>
                    <div class="text bg-white p-4">
                        <h3 class="heading"><a href="#">{{item.name}}</a></h3>
                        <p [innerHTML]="item.description">{{item.description}}</p>
                        <div class="d-flex align-items-center mt-4">
                            <p class="mb-0"><a routerLink="/event/{{item._id}}" class="btn btn-primary">Plus Détails<span
                                        class="ion-ios-arrow-round-forward"></span></a></p>
                            <p class="ml-auto mb-0">
                                <a  class="mr-2">{{item.city}}</a>
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</section>


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section">
                <h2 class="mb-4"><span>Parmi</span> Nos clients</h2>
               
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4" *ngFor="let item of dataArray; index as i">
                <div class="blog-entry" *ngIf="i<3">
                    <div class="testimony-wrap d-flex">
                        <div class="user-img" style="background-image:  url({{item.image}});">
                        </div>
                        <div class="text pl-4">
                            <span class="quote d-flex align-items-center justify-content-center">
                                <i class="icon-quote-left"></i>
                            </span>
                            <p [innerHTML]="item.description">{{item.description}}</p>
                            <p class="name">{{item.name}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>