<app-header></app-header>

<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9  text-center">
                <h1 class="mb-2 bread">Contactez nous</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Contact <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info justify-content-center">
            <div class="col-md-8">
                <div class="row mb-5">
                    <div class="col-md-4 text-center py-4">
                        <div class="icon">
                            <span class="icon-map-o"></span>
                        </div>
                        <p><span>Adresse:</span> 11 rue tastour menzeh 5 Tunis 1004</p>
                    </div>
                    <div class="col-md-4 text-center border-height py-4">
                        <div class="icon">
                            <span class="icon-mobile-phone"></span>
                        </div>
                        <p><span>Téléphone:</span> <a href="tel://1234567920">+ 216 28 608 238 </a></p>
                    </div>
                    <div class="col-md-4 text-center py-4">
                        <div class="icon">
                            <span class="icon-envelope-o"></span>
                        </div>
                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">contact@one.org.tn</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row block-9 justify-content-center mb-5">
            <div class="col-md-8 mb-md-5">
                <h2 class="text-center">Si vous avez des questions <br>n'hésitez pas à nous envoyer un message</h2>
                <form [formGroup]="myForm" #f="ngForm" (ngSubmit)="add(f)" class="bg-light p-5 contact-form">
                    <div class="form-group">
                        <input type="text" class="form-control" name="senderName" formControlName="senderName"
                            placeholder="Votre Nom Complet">
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="myForm.get('senderName').touched && myForm.get('senderName').hasError('required')  ">
                        Vous devez remplir ce champ </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" formControlName="email"
                            placeholder="Votre Email">
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="myForm.get('email').touched && myForm.get('email').hasError('required')  ">
                        Vous devez remplir ce champ </div>
                    <div class="form-group">
                        <input type="number" class="form-control" name="telephone" formControlName="telephone"
                            placeholder="Vote Numéro De Téléphone">
                    </div>
                    <div class="alert alert-danger"
                        *ngIf="myForm.get('telephone').touched && myForm.get('telephone').hasError('required')  ">
                        Vous devez remplir ce champ </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" name="message"
                            formControlName="message" placeholder="Message"></textarea>
                    </div>
                    <div class="alert alert-danger"
                        *ngIf=" myForm.get('message').touched && myForm.get('message').hasError('required')  ">
                        Vous devez remplir ce champ </div>
                    <div class="form-group">
                        <input type="submit" value="Envoyer Message" class="btn btn-primary py-3 px-5">
                    </div>

                </form>
                <div *ngIf="msgSucces" class="alert alert-success" role="alert"> {{msgSucces}}</div>

            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container-fluid px-0">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div id="map" class="bg-white"></div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>