
<app-header></app-header>
<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9  text-center">
          <h1 class="mb-2 bread">À propos de nous</h1>
          <p class="breadcrumbs"><span class="mr-2"><a routerLink="/">Accueil <i class="ion-ios-arrow-forward"></i></a></span> <span>à propos de nous <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>

      <section class="ftco-section">
          <div class="container">
              <div class="row d-flex">
                  <div class="col-md-5 order-md-last wrap-about align-items-stretch">
                      <div class="wrap-about-border">
                          <div class="img" style="background-image: url(assets/img/O.N.E.png); "></div>
                          <div class="text">
                            <h3> Lisez notre histoire de réussite pour vous inspirer </h3>
                            <p>L’Organisation Nationale des Entrepreneurs (ONE) est née suite à la crise qui a frappé la
                                Tunisie suite
                                à la pandémie COVID19 aux mois de Mars et Avril 2020.</p>
                            <p>Cette idée est l’incarnation d’un rêve de réunir l’ensemble des entreprises et des personnes
                                marginalisés depuis longtemps.
                                Ce groupe d’entrepreneurs n’ont jamais eu une organisation pour leur prendre en charge et
                                les défendre en cas de nécessité.
                            </p>
                            <p><a href="#" class="btn btn-primary py-3 px-4">Contactez nous</a></p>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-7 wrap-about pr-md-4 ">
            <h2 class="mb-4">Principes de l’Organisation Nationale des Entrepreneurs:</h2>
                      <h5>Engagement</h5>
                      <p> l’Organisation Nationale des Entrepreneurs engage auprès de toutes ses entreprises adhérentes, quelles que soient leurtaille, leur qualité d’activité à protéger leurs intérêts et travailler au développement d’une économie forte et stable.
                      </p>
                      <h5>Equité</h5>
                      <p> L’Organisation Nationale des Entrepreneurs joue un rôle organisateur et régulateur pour une économie juste et un
                        développement durable.
                      </p>
                      <h5>Ethique</h5>
                    
                      <p> L’Organisation Nationale des Entrepreneurs construit ses relations avec ses partenaires et affiliés sur la base d’un leadership avisé et responsable conformément à ses principes et valeurs en même temps de travailler à la promotion et à la valorisation du travail social au sein de l’entreprise.
                      </p>
                      <h5>Transparence</h5>
                      <p>L’Organisation Nationale des Entrepreneurs a choisi de faire de la transparence une valeur essentielle au sein de
                        l’organisation que ce soit en interne dans les relations entre ses membres ou même avec les partenaires.</p>
                    <h5>Démocratie</h5>
                    <p>Toutes les structures de l’organisation aux niveaux local, régional, national et international seront basées sur une véritable démocratie pour assurer la durabilité du travail de l’organisation.</p>
                      </div>
              </div>
          </div>
      </section>

      <section class="ftco-section ftco-counter">
          <div class="container">
              <div class="row justify-content-center mb-5 pb-2 d-flex">
              <div class="col-md-6 align-items-stretch d-flex">
                  <div class="img img-video d-flex align-items-center" style="background-image: url(assets/img/O.N.E.png);">
                  
                  </div>
              </div>
        <div class="col-md-6 heading-section  pl-lg-5 pt-md-0 pt-5">
          <h2 class="mb-4">Vision de l’Organisation Nationale des entrepreneurs:</h2>
          <p>Travailler à trouver une stratégie dynamique et efficace pour diversifier les marchés, valoriser la position de la Tunisie et faire en sorte que l’organisme économique trouve dans toutes les régions du pays des infrastructures industrielles, des transports et des services logistiques et de communication selon les normes internationales.</p>
          <p>Travailler au rapprochement des régions pour garantir une cohésion sociale, un meilleur développement dans toutes les régions et une résistanceefficace à toutes les formes de discrimination régionale, et en encourageant chaque région à mettre en évidence ses spécificités et son potentiel pour attirer les investisseurs.</p>
        </div>
      </div>	
          </div>
      </section>
      
      <section class="ftco-intro ftco-no-pb img" style="background-image: url(assets/images/bg_3.jpg);">
      <div class="container">
          <div class="row justify-content-center mb-5">
        <div class="col-md-10 text-center heading-section heading-section-white ">
          <h2 class="mb-0">Vous obtenez toujours les meilleurs conseils</h2>
        </div>
      </div>	
      </div>
  </section>

      <section class="ftco-counter" id="section-counter">
      <div class="container">
          <div class="row d-md-flex align-items-center justify-content-center">
              <div class="wrapper">
                  <div class="row d-md-flex align-items-center">
                <div class="col-md d-flex justify-content-center counter-wrap ">
                  <div class="block-18">
                      <div class="icon"><span class="flaticon-doctor"></span></div>
                   
                  </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ">
                  <div class="block-18">
                      <div class="icon"><span class="flaticon-doctor"></span></div>
                    <div class="text">
                      <strong class="number" data-number="150">150</strong>
                      <span>Client satisfait</span>
                    </div>
                  </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ">
                  <div class="block-18">
                      <div class="icon"><span class="flaticon-doctor"></span></div>
                    <div class="text">
                      <strong class="number" data-number="5">5</strong>
                      <span>RÉCOMPENSES REÇUES</span>
                    </div>
                  </div>
                </div>
                <div class="col-md d-flex justify-content-center counter-wrap ">
                  <div class="block-18">
                      <div class="icon"><span class="flaticon-doctor"></span></div>
                    <div class="text">
                      <strong class="number" data-number="2">2</strong>
                      <span>ANNÉES D'EXPÉRIENCE</span>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
      </div>
  </section>
      
      <section class="ftco-section testimony-section">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-8 text-center heading-section ">
          <h2 class="mb-4">Nos clients disent</h2>
        </div>
      </div>
      <div class="row  justify-content-center">
        <div class="col-md-12">
          <div class="carousel-testimony owl-carousel"  *ngFor="let item of dataArray; index as i" >
            <div class="item">
              <div class="testimony-wrap d-flex">
                <div class="user-img" style="background-image: url({{item.image}});">
                </div>
                <div class="text pl-4">
                    <span class="quote d-flex align-items-center justify-content-center">
                    <i class="icon-quote-left"></i>
                  </span>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                  <p class="name">{{item.name}}</p>
                  <span class="position">{{item.category}}</span>
                </div>
              </div>
            </div>          
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>